.header {
  height: 54px;
  background-color: rgba(185, 43, 39, 1);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
  width: 100%;
  padding-left: 19%;
}
.headerName {
  font-size: 1.8em;
}
