.container {
  min-height: 100vh;
  /*padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(234, 238, 243, 1);
}

.main {
  /*padding: 5rem 0;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 62%;
  /*justify-content: center;
  align-items: center;*/
}

.questioncontainer {
  background-color: white;
  padding: 15px;
}

.yourquestions {
  color: black;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  padding-bottom: 5px;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
  margin-top: 9px;
  margin-bottom: 9px;
}
